.section {
  color: white;
  position: relative;
}
/* img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
} */
.abouttext {
  color: rgb(255, 255, 255);
}
.abouttext h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

@media (max-width: 767px) {
  .abouttext h3 {
    font-size: 35px;
  }
}
.abouttext h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .abouttext h6 {
    font-size: 18px;
  }
}
.abouttext p {
  font-size: 18px;
}
.abouttext p mark {
  font-weight: 600;
  color: #20247b;
}

.aboutlist {
  padding-top: 10px;
}
.aboutlist .media {
  padding: 5px 0;
}
.aboutlist label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.aboutlist label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.aboutlist p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .aboutavatar {
    margin-top: 30px;
  }
}

mark {
  background-image: linear-gradient(
    rgba(252, 83, 86, 0.6),
    rgba(252, 83, 86, 0.6)
  );
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
