@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap");


.line {
  background-color: #fffffff8;
  padding:1em;
  width:40vw;
  height:20vw;
  border-radius: 3%;
}
.status {
  width:20vw;
  height:20vw;
  padding:1em;
  border-radius: 3%;
  background-color: #fffffff8;
}
.bar {
  width:30vw;
  height:20vw;
  padding:1em;
  border-radius: 3%;  
  background-color: #fffffff8;
}
