@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap");

.dbpage {
  width: 100vw;
  height: 100vh;
  padding: 2vw;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background-color: #024893f9;
}

.sidebar {
  position: fixed;
  left: 2vw;
  top: 2vw;
  width: 20vw;
  height: calc(100vh - 4vw);
  padding: 1em;
  background-color: #0a2647;
  gap: 1.5vw;
  white-space: nowrap;
  display: flex;
  border-radius: 1em 0% 0% 1em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  box-shadow: 0px 0px 10px 2px #000;
  transform-origin: translate(-100%, 0);
}

.logo {
  font-size: 2.10vw;
  width: 100%;
  display: flex;
  color: #ffffff;
  align-items: center;
  & > button {
    color: #ffffff;
    font-size: 1em;
  }
}

.divide{
  height:0px;
  width: 100%;
  border: #fff 0.75px solid;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5vw;
}
.buttondiv {
  font-size: 1.75vw;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttondiv > button {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main {
  width: 74vw;
  height: calc(100vh - 4vw);
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.nav {
  padding: 0 1em;
  width: 100%;
  height: 5vw;
  gap: 1em;
  border-radius: 0 1em 0 0;
  background-color: #0a2647;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 2px #000;
}
.search {
  height: 3vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #212a3e;
  & input {
    width: 100%;
    background-color: #212a3e;
    border-color: aliceblue;
    border: none;
    &:focus{
      border: none;
    }
  }
  & button{
    height:3vw;
    font-size: 1vw;
    background-color: rgb(33, 99, 206);
    border: none;
    &:focus{
      border: none;
    }
  }
}

.toggle{
  height:3vw;
  width: 3vw;
  font-size: 1.25vw;
border-radius: 100%;
}

.content {
  width: 100%;
  height: calc(100vh - 11vw);
  background-color: #0a2647;
  color: #fff;
  border-radius: 0 0% 1em 0;
  padding: 1em;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px 2px #000;
}

.content::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-track {
  background: #0f1035;
}

.content::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10%;
  border: 1px solid #000;
}
