.option {
}
.addpt {
  background-color: transparent;
  color: #fff;
  border: none;
}

.more {
  opacity: 0.5 !important;
}

.vl {
  margin: 8px !important;
  width: 2px;
  border-right: 1px solid #aaaaaa;
  height: 25px;
}

.maindiv {
  border-radius: 10px;
  max-height: 1000px;
  transition: max-height 1000ms;
}

.btn-outlined:active {
  color: #fff;
  border-color: #fff !important;
}

img {
  cursor: pointer;
  overflow: visible;
}

.btn:focus,
.btn:active {
  /* outline: none !important; */
  /* box-shadow: none !important; */
}

.isactive {
  max-height: 2000px;
}
.isactive2 {
  max-height: 2000px;
}

.hide {
  /* height:0px;
  overflow: hidden; */
  display: none !important;
}
.hide2 {
  /* height:0px;
  overflow: hidden; */
  display: none !important;
}

.graph {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

