.option{

}
.addpt{
  background-color: transparent;
  color: #fff;
  border: none;
}

.more {
  opacity: 0.5 !important;
}

.vl {
  margin: 8px !important;
  width: 2px;
  border-right: 1px solid #aaaaaa;
  height: 25px;
}

.maindiv {
  border-radius: 10px ;
  height:170px;
  transition: height 500ms;
}

.btn-outlined:active {
  color: #fff;
  border-color: #fff !important;
}

img {
  cursor: pointer;
  overflow: visible;
}

.btn:focus,
.btn:active {

  /* outline: none !important; */
  /* box-shadow: none !important; */
}

.isactive{
    height:500px;
}

.hide{
  height:0px;
  overflow: hidden;
  /* display: none; */
}
.graph{
  width:50%;
  display: flex;
  flex-wrap: wrap;
}