.more {
  opacity: 0.5 !important;
}

.vl {
  margin: 8px !important;
  width: 2px;
  border-right: 1px solid #aaaaaa;
  height: 25px;
}

.maindiv {
  border-radius: 10px ;
  height:200px;
  transition: height 500ms;
}

.btn-outlined:active {
  color: #fff;
  border-color: #fff !important;
}

img {
  cursor: pointer;
  overflow: visible;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.isactive{
    height:400px;
}
